@import "tailwindcss";

@layer utilities {
  /* ---------------------------------------------------- */
  /* Single Underline animation for links */
  .underline-animated {
    @apply relative font-semibold text-link no-underline transition-colors duration-300 ease-in-out;
    color: var(--color-link);
  }

  .underline-animated::after {
    content: "";
    @apply absolute bottom-0 left-0 h-[2px] w-full bg-primary;
    will-change: transform;
    backface-visibility: hidden;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .underline-animated:hover::after,
  .underline-animated:focus::after {
    transform: scaleX(1);
  }

  /* ---------------------------------------------------- */
  /* Double-line underline animation */
  .double-underline-animated {
    @apply relative text-link font-semibold text-link no-underline transition-colors duration-300 ease-in-out;

  }

  .double-underline-animated::after,
  .double-underline-animated::before {
    content: "";
    @apply absolute h-[2px] left-3 right-3 bg-current;
    will-change: transform;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
  }

  /* Bottom line: left → right */
  .double-underline-animated::after {
    @apply bottom-1 left-3;
    transform-origin: left;
    transform: scaleX(0);
  }

  /* Top line: right → left */
  .double-underline-animated::before {
    @apply top-1 right-3;
    transform-origin: right;
    transform: scaleX(0);
  }

  /* Hover/focus: animate both lines */
  .double-underline-animated:hover::after,
  .double-underline-animated:focus::after,
  .double-underline-animated:hover::before,
  .double-underline-animated:focus::before {
    transform: scaleX(1);
  }

  /* ---------------------------------------------------- */

}